/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.headBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headBox .navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}
.headBox .navBox a {
  padding: 2rem 3rem 0 3rem;
  text-decoration: none;
  font-weight: bolder;
  font: 3.5rem 'Cinzel', serif;
  color: #2d86ae;
  text-shadow: -0.5px -0.5px 1px #002341, 0.5px -0.5px 1px #002341, -0.5px 0.5px 1px #002341, 0.5px 0.5px 1px #002341;
}
.headBox .logo {
  width: 25%;
}
.headBox .logoImg {
  width: 15%;
}
.headBox .logoBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .headBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .headBox .navBox {
    align-self: center;
    width: 65%;
    padding: 0;
  }
  .headBox .navBox a {
    font-size: 2rem;
    padding: 0;
  }
  .headBox .logo {
    width: 50%;
    padding: 0;
  }
  .headBox .logoImg {
    width: 25%;
  }
  .headBox .logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.cpyrt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #2d86ae;
  text-shadow: 1px 1px 0 #002341;
  font-size: 2rem;
}
.backImg {
  position: relative;
  background-image: url("/img/Anchorage-Chugach-State-Park-Topo-Map.jpg");
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -3;
}
.content {
  width: 95%;
  margin-left: 5%;
  border-top-left-radius: 17rem;
  border-bottom-left-radius: 17rem;
  border-top: 0.2rem solid #d4593d;
  border-left: 0.2rem solid #d4593d;
  border-bottom: 0.2rem solid #d4593d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .content {
    width: 99%;
    border-top-left-radius: 7rem;
    border-bottom-left-radius: 7rem;
  }
}
.content::before {
  border-top-left-radius: 17rem;
  border-bottom-left-radius: 17rem;
  background-image: linear-gradient(transparent, white);
  background-size: cover;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
@media (max-width: 500px) {
  .content::before {
    border-top-left-radius: 7rem;
    border-bottom-left-radius: 7rem;
  }
}
.contentBox::before {
  border-top-left-radius: 17rem;
  border-bottom-left-radius: 17rem;
  background: url("/img/treesSunset.jpg");
  background-size: cover;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
@media (max-width: 500px) {
  .contentBox::before {
    border-top-left-radius: 7rem;
    border-bottom-left-radius: 7rem;
  }
}
.sect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect .copy {
  color: #2d86ae;
  text-shadow: 1px 1px 0 #002341, -0.5px -0.5px 2px white, 0.5px -0.5px 2px white, -0.5px 0.5px 2px white, 0.5px 0.5px 2px white;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sect .copy h2 {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.sect .copy p {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
.sect .sM {
  width: 50%;
  border-bottom-left-radius: 5rem;
  box-shadow: 10px 10px 10px #845259;
}
.sect .iS {
  width: 50%;
  margin-right: 3rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  box-shadow: 10px 0 10px #845259;
}
.sect .sF {
  width: 50%;
  border-top-left-radius: 5rem;
  box-shadow: 0 -10px 10px #845259;
}
@media (max-width: 500px) {
  .sect {
    display: flex;
    flex-direction: column;
  }
  .sect .copy {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .sect .sM {
    width: 90%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 10px 10px #845259;
    margin: 1rem;
  }
  .sect .iS {
    width: 90%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 10px 10px #845259;
    margin: 1rem;
  }
  .sect .sF {
    display: none;
  }
  .purpose {
    display: flex;
    flex-direction: column-reverse;
  }
  .purpose .copy {
    margin-right: 2rem;
    text-align: center;
  }
  .outdoorResume .copy {
    margin: 0 2rem 2rem 0;
    text-align: center;
  }
}
