.sect{
    margin: 1rem;
    .copy{
        a{
            text-decoration: none;
            font: 2rem @lato;
        }
        
    }
    img{
        height: 200px;
        width: 200px;
        object-fit: contain;
    }
}