.cpyrt{
    .center();
    margin-bottom: 1rem;
    color: @steel-blue;
    text-shadow:1px 1px 0 @oxford-blue,
    -.5px -.5px 2px white,
    .5px -.5px 2px white,
    -.5px .5px 2px white,
    .5px .5px 2px white;
    font-size: 2rem;
}